

:root {
  --textcolor: white;
  --footerbgcolor: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, #202020 14%, #202020 28%);
  --bg-url-desktop: url(./assets/vector/background-desktop-black.svg);
  --bg-url-mobile: url(./assets/vector/background-mobile-black.svg);
  --stroke-color: rgba(255, 255, 255, 0.5);
  --stroke-color-hover: white;
  --surface-color: rgba(255, 255, 255, 0.1);
  --highlight-color: rgba(255, 255, 255, 0.2);
  --switch-bg-url: url(./assets/vector/moon.svg);
  --linkedin: url(./assets/vector/linkedin_white.svg);
  --instagram: url(./assets/vector/instagram_white.svg);
  --behance: url(./assets/vector/github_white.svg);
  --github: url(./assets/vector/behance_white.svg);
}

.light {
  --textcolor: black;
  --footerbgcolor: linear-gradient(180deg, rgba(250, 250, 250, 0.00) 0%, rgba(250, 250, 250, 0.50) 14%, #FAFAFA 28%);
  --bg-url-desktop: url(./assets/vector/background-desktop-white.svg);
  --bg-url-mobile: url(./assets/vector/background-mobile-white.svg);
  --stroke-color: rgba(0, 0, 0, 0.5);
  --stroke-color-hover: black;
  --surface-color: rgba(0, 0, 0, 0.05);
  --highlight-color: rgba(0, 0, 0, 0.1);
  --switch-bg-url: url(./assets/vector/sun.svg);
  --linkedin: url(./assets/vector/linkedin.svg);
  --instagram: url(./assets/vector/instagram.svg);
  --behance: url(./assets/vector/github.svg);
  --github: url(./assets/vector/behance.svg);
}

/* Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@media (max-width: 460px) {
  body {
    background: var(--bg-url-mobile) no-repeat center;
    background-size: cover;
  }
}

@media (min-width: 460px) {
  body {
    background: var(--bg-url-desktop) no-repeat center;
    background-size: cover;
  }
  main {
    transform: scale(1.2);
  }
}

.space-mono-regular {
  font-family: "Space Mono", serif;
  font-weight: 400;
  font-style: normal;
}

.space-mono-bold {
  font-family: "Space Mono", serif;
  font-weight: 700;
  font-style: normal;
}

.space-mono-regular-italic {
  font-family: "Space Mono", serif;
  font-weight: 400;
  font-style: italic;
}

.space-mono-bold-italic {
  font-family: "Space Mono", serif;
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "space_mono";
  src: url("https://github.com/viniciuspesqueira/Currency-Converter/tree/c50f0c721000d3115744762b59db5eeef4476193/Fonts/Space_Mono");
}

* {
  padding: 0;
  margin: 0;
  font-family: "Space Mono";
}

body {
  padding: 0;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  margin: auto;
  flex: 1;
  padding-top: 5rem;
}

footer {
  display: flex;
  flex-direction: column;
  padding-top: 2.4rem;
  align-items: center;
  background: var(--footerbgcolor);
  font-size: 0.72rem;
  color: var(--textcolor);
}

footer ul {
  list-style: none;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(2, 2.64rem);
  grid-template-rows: repeat(2, 2.64rem);
}

footer a {
  display: flex;
  color: var(--textcolor);
  font-size: 0.96rem;
  padding: 0.6rem;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

footer a:hover {
  border-radius: 50%;
  background: #41f50065;
}

#coins {
  padding: 1.44rem;
  display: flex;
  flex-direction: row;
}

.coinsection {
  display: flex;
  gap: 0.6rem;
  flex-direction: column;
  align-items: center;
}

.coinname {
  color: var(--textcolor);
  font-weight: 500;
  width: auto;
  text-align: center;
  border: none;
  background: transparent;
  font-size: 0.8rem;
}

.coinimage {
  max-width: 7.2rem;
  max-height: 3.6rem;
}

.changecoin {
  color: var(--textcolor);
  width: auto;
  border-radius: 10px;
  border: solid 0.12rem;
  padding: 0.12rem;
  padding-left: 0.24rem;
  padding-right: 0.24rem;
  font-size: 0.6rem;
  border-color: var(--stroke-color);
  background-color: var(--surface-color);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  transition: background 0.5s;
}

.changecoin:hover {
  border-color: #A8F500;
}

.ui-autocomplete {
  max-height: 10rem;
  overflow-y: auto;
}

.ui-menu-item {
  font-size: 0.6rem;
  border: solid 0.1px;
  border-radius: 5px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.05);
  color: black;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

#boxes {
  padding: 0.6rem;
  display: flex;
  flex-direction: row;
  max-width: 300%;
  gap: 1.2rem;
}

.box {
  display: flex;
  margin: auto;
  flex-direction: row;
  gap: 0.6rem;
  justify-content: center;
  width: 8.4rem;
  height: 1.3rem;
  line-height: 1.4rem;
  border-radius: 10px;
  border: solid 0.12rem;
  padding-right: 0.24rem;
  padding-left: 0.24rem;
  font-size: 0.6rem;
  color: var(--textcolor);
  border-color: var(--stroke-color);
  background-color: var(--surface-color);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  transition: 0.5s;
}

.box:hover {
  border-color: #A8F500;
}

.value {
  width: 100%;
  text-align: right;
  color: var(--textcolor);
  border: none;
  background: transparent;
  font-size: 0.72rem;
}

.box label {
  font-size: 0.72rem;
}

#title {
  font-weight: bold;
  font-size: 1.68rem;
  text-align: center;
  color: var(--textcolor);
}

#convertersymbol {
  width: 2.4rem;
}

#lastupdate {
  margin: auto;
  width: 18rem;
  font-size: 0.7rem;
  text-align: center;
  color: var(--textcolor);
}

#meetactor {
  font-size: 0.96rem;
}

#equalsymbol {
  width: 1.44rem;
}

#switch {
  position: absolute;
  top: 0.96rem;
  right: 1.44rem;
}

#switch div {
  background: white var(--switch-bg-url) no-repeat center;
  background-size: 0.6rem;
  border: 0;
  border-radius: 50%;
  padding: 0.6rem;
  transition: 0.3s;
}

#switch div:hover {
  outline: 0.48rem solid #41f50065;
}

